@{
    ViewData["Title"] = "Chat";
}
<h1 class="text-info">Chat</h1>
<p>Use this page to chat with other users</p>
<div class="container">
    <div class="row">&nbsp;</div>
 
    <br />
    <div class="row">
        <div class="col-2 text-info font-weight-bolder">Message</div>
        <div class="col-2 accept-policy"><input style="height:50px;font-size:10pt;" type="text" id="messageInput" /></div>
        <div class="row">
            <div class="col-6">
                <input class="btn btn-success" type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>