@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to your personal Trainings Agenda</h1>
        <br />
        <img src="~/lib/images/image2.png" style="width:500px;height:500px"/>
    </div>
  
